<!DOCTYPE HTML>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:fragment="headerfiles">
    <meta charset="UTF-8"/>
    <link th:href="@{/css/main.css}" rel="stylesheet">
</head>
<body>

<header th:fragment="header">
    <div class="menu-bar" id="menu-bar">
        <div class="logo">
            <a th:href="@{/}" id="menuhome2"><img th:src="@{/images/gas-station-icon.png}"
                                                  alt="gas-station-icon" class="gas-station-icon"></a>
            <a th:href="@{/}" id="menuhome"><p>Fuels</p></a>
        </div>
        <nav class="navigation">
            <ul>
                <li sec:authorize="hasRole('ROLE_ADMIN')"><a class="navigation-text" th:href="@{/console}"
                                                             id="menuconsole">Console</a></li>
                <li><a class="navigation-text" th:href="@{/stations/add}"
                       id="menuaddstation">Add Station</a></li>
                <li sec:authorize="isAnonymous()"><a class="navigation-text" id="menulogin">Login</a></li>
                <li sec:authorize="isAnonymous()"><a class="navigation-text" id="menuregister">Register</a>
                </li>
                <li sec:authorize="isAuthenticated()"><a class="navigation-text" th:href="@{/test}" id="menuuser"
                                                         th:text="${#authentication.name}"></a></li>
                <li sec:authorize="isAuthenticated()"><a class="navigation-text" th:href="@{/logout}"
                                                         id="menulogout">Logout</a></li>
            </ul>
        </nav>
    </div>
</header>

</body>
</html>