@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Pacifico&display=swap');

/* main rules */

html {
    height: 100%;
}

* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100%;
    font-family: 'Montserrat', 'sans-serif';
}

button {
    background-color: #0099cc;
    border: none;
}

button:hover {
    opacity: 0.8;
    cursor: pointer;
}

input {
    border: none;
    border-bottom: 0.5px solid black;
}

.blur {
    -webkit-filter: blur(10px);
    -moz-filter: blur(10px);
    -o-filter: blur(10px);
    -ms-filter: blur(10px);
    filter: blur(10px)
}

.no-pointer {
    pointer-events: none;
}

.show {
    display: block;
    z-index: 1;
}

.hide {
    display: none;
    z-index: -1;
}

/* login and register css */

#blur-me {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background-color: rgb(231, 231, 231);
    border-radius: 1%;
    padding: 10px;
    z-index: 2;
    text-align: -webkit-center;
}

.register {
    height: 500px;
    width: 400px;
}

.login {
    height: 250px;
    width: 400px;
}

.loginform, .registerform {
    width: 300px;
}

form {
    text-align: center;
}

form > * {
    width: 100%;
    text-align: center;
}

form > input {
    margin-top: 5px;
    margin-bottom: 10px;
    height: 25px;
}

.warning {
    font-size: 10px;
    display: none;
    color: red;
}

#loginbutton, #registerbutton {
    height: 28px;
}

.animate {
    -webkit-animation: animatezoom 0.5s;
    animation: animatezoom 0.5s;
}

@-webkit-keyframes animatezoom {
    from {
        -webkit-transform: scale(0);
    }
    to {
        -webkit-transform: scale(1);
    }
}

@keyframes animatezoom {
    from {
        transform: scale(0);
    }
    from {
        transform: scale(1);
    }
}

/* header section and navigation */

header {
    position: sticky;
    background-color: #0099cc;
    display: block;
    height: 120px;
    width: 100%;
    overflow: auto;

}

.menu-bar {
    height: 100%;
    padding: 0 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.logo {
    height: 100%;
    min-width: 200px;
}

.gas-station-icon {
    width: 70px;
    animation: move 2s infinite alternate;
    display: inline-block;
}

#menuhome {
    padding-top: 20px;
    display: inline-block;
    text-decoration: none;
}

@keyframes move {
    0% {
        transform: translateY(0px);
    }
    100% {
        transform: translateY(-6px);
    }
}

.logo p {
    font-family: 'Pacifico', 'cursive';
    font-size: 55px;
    margin: 0;
    vertical-align: middle;
    color: whitesmoke;
    text-decoration: none;
}

.logo p:hover {
    color: black;
}

.navigation {
    text-align: right;
}

.navigation ul {
    list-style: none;

}

.navigation ul li {
    display: inline-block;
    box-shadow: 2px 2px 2px 2px #0068808f;
    background-color: #00688024;
    height: 30px;
}

.navigation-text {
    vertical-align: -webkit-baseline-middle;
    color: white;
    font-size: 18px;
    font-weight: bold;
    padding: 0 35px;
    text-decoration: none;
}

.navigation-text:hover {
    color: rgba(49, 49, 49, 0.767);
    cursor: pointer;
}

/* page section */

.site {
    position: fixed;
    height: calc(100% - 120px);
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: white;
}