<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <title>Fuel App</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" th:href="@{/css/add_station.css}">
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <link rel="stylesheet" th:href="@{/css/animations.css}"/>
    <link href="https://api.mapbox.com/mapbox-gl-js/v1.9.1/mapbox-gl.css" rel="stylesheet"/>
    <link
            rel="stylesheet"
            href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.4.2/mapbox-gl-geocoder.css"
            type="text/css"
    />

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://api.mapbox.com/mapbox-gl-js/v1.9.1/mapbox-gl.js"></script>
    <script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.4.2/mapbox-gl-geocoder.min.js"></script>

</head>

<body>

<header th:insert="fragments/header_template.html :: header"></header>

<div class="site" id="site">
    <div class="station-info hide">
        <form class="stationform" th:action="@{/stations/add}" method="POST" th:object="${station}" id="stationform">
            <label for="station-name">Station Name<br><span class="warning hide"
                                                            id="station-warning">It is not a station!</span></label>
            <input th:field="*{name}" type="text" name="station-name" id="station-name" required>
            <label for="station-street">Street</label>
            <input th:field="*{street}" type="text" name="station-street" id="station-street" required>
            <label for="station-postalcode">Postal Code</label>
            <input th:field="*{postalCode}" type="text" name="station-postalcode" id="station-postalcode" required>
            <label for="station-city">City</label>
            <input th:field="*{city}" type="text" name="station-city" id="station-city" required>
            <label for="lat">Lat</label>
            <input th:field="*{lat}" type="text" name="lat" id="lat" required
                   readonly>
            <label for="lng">Lng</label>
            <input th:field="*{lon}" type="text" name="lng" id="lng" required
                   readonly>
            <label sec:authorize="hasRole('ROLE_ADMIN')" for="amenity">Amenity</label>
            <input sec:authorize="hasRole('ROLE_ADMIN')" type="text" name="amenity" id="amenity" readonly>
            <button class="submit-station" type="submit" id="submit-station">Submit</button>
        </form>
    </div>

    <div id="map"></div>
</div>

<script th:src="@{/js/utils.js}"></script>
<script th:src="@{/js/add_station.js}"></script>

</body>

</html>